<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- sets the filter string to filtered status in the component class for use in the filter pipe -->
      <input type="text" [(ngModel)]="filteredStatus" />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br />
      <h3>App Status:</h3>
      {{ appStatus | async }}
      <!-- Use Pipes on looped data in ngFor as well: -->
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="
            let server of servers
              | filter: filteredStatus:'status'
              | sort: 'name'
          "
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten }}</strong> |
          {{ server.instanceType | uppercase | reverse }} |
          {{ server.started | date: "fullDate" | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
